body {
    background-color: #eff2f6;
}
a{
    text-decoration: none;
}
.avatar{
    width: 3rem;
    height: 3rem;
}
.postpicture{
    width: 4rem;
    height: 4rem;
}
.logo{
    width: 3rem;
    height: 3rem;
}
