@model EditUserPasswordViewModel
@{
    ViewData["Title"] = "EditPassword";
}
<div class="row">
    <div class="col-12">
        <div class="bg-white p-4">
            <form asp-action="EditPassword" method="post" novalidate>
                <input type="hidden" asp-for="UserId"/>
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="mb-3">
                    <label asp-for="OldPassword" class="form-label">Current Password</label>
                    <input asp-for="OldPassword" class="form-control" />
                    <span asp-validation-for="OldPassword" class="text-danger"></span>
                </div>
                <hr class="mb-3" />
                <div class="mb-3">
                    <label asp-for="Password" class="form-label">Password</label>
                    <input asp-for="Password" class="form-control" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="ConfirmPassword" class="form-label">Confirm Password</label>
                    <input asp-for="ConfirmPassword" class="form-control" />
                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                </div>
                <button type="submit" class="btn btn-primary d-inline-flex">Edit and Login</button>
                <a href="/Users/Edit/@Model.UserId" class="btn btn-secondary">Cancel</a>
            </form>
        </div>
    </div>
</div>