@model LoginViewModel
@{
    ViewData["Title"] = "Login";
}
<div class="row">
    <div class="col-12">
        <div class="bg-white p-4">
            <h1 class="mb-3 text-secondary">Login</h1>
            <form asp-action="Login" method="post" novalidate>
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="mb-3">
                    <label asp-for="Email" class="form-label">Email</label>
                    <input asp-for="Email" class="form-control" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="Password" class="form-label">Password</label>
                    <input asp-for="Password" class="form-control" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
                <button type="submit" class="btn btn-primary d-inline-flex">Login</button>
                <a href="/posts/index" class="btn btn-secondary">Cancel</a>
            </form>
        </div>
    </div>
</div>